<Config>
  <LogLevel>debug</LogLevel>
  <UpdateMechanism>BuiltIn</UpdateMechanism>
  <BindAddress>*</BindAddress>
  <Port>9696</Port>
  <SslPort>9797</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>False</LaunchBrowser>
  <ApiKey>{{ op://DockerSecrets/arr-stack/prowlarr-apikey }}</ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <UrlBase>prowlarr</UrlBase>
  <Branch>develop</Branch>
  <AuthenticationRequired>DisabledForLocalAddresses</AuthenticationRequired>
  <InstanceName>Prowlarr</InstanceName>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
</Config>
